@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imposta altezza piena per body e root */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Font, smoothing, colori personalizzati */
body {
  @apply antialiased font-sans bg-[#D0D8D7] text-[#dd1a1c];
}

/* Scrollbar moderna */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Aggiunta opzionale: animazione transizioni */
.fade-in {
  @apply opacity-0 transition-opacity duration-1000;
}
.fade-in.show {
  @apply opacity-100;
}
.btn-monza {
  @apply font-arvo text-xl bg-monza text-iron px-6 py-1 rounded-full hover:bg-monzadark transition;
}