@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   Reset base e setup globale [#D0D8D7]
   ================================ */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply antialiased font-sans bg-iron text-[#dd1a1c];
}
@font-face {
  font-family: "Arvo";
  src: url("/fonts/Arvo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.font-arvo {
  font-family: "Arvo", serif;
  font-display: swap;
}
/* ================================
   Scrollbar personalizzata
   ================================ */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* ================================
   YouTube embed responsive
   ================================ */
.youtube-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.youtube-wrapper iframe {
  @apply absolute top-0 left-0 w-full h-full border-0;
}

/* ================================
   arvo
   ================================ */
.arvo-monza {
  @apply font-arvo  text-monza;
}

.arvo-white {
  @apply font-arvo  text-white;
}
.arvo-black {
  @apply font-arvo  text-black;
}

.bio-text-white {
  @apply font-arvo text-sm text-black;
}

.bio-highlight {
  @apply bg-monza arvo-white   inline-block;
  transform: skew(-10deg);
  padding: 0 0.2rem; /* aggiusta il padding per non tagliare il testo */
}
.bio-highlight-white {
  @apply arvo-monza   inline-block;
  transform: skew(-10deg);
  padding: 0 0.2rem; /* aggiusta il padding per non tagliare il testo */
}
.bio-highlight-small {
  @apply bg-monza arvo-white text-sm   inline-block;
  transform: skew(-10deg);
  padding: 0 0.2rem; /* aggiusta il padding per non tagliare il testo */
}
.bio-highlight-white-small {
  @apply bg-white arvo-monza text-sm   inline-block;
  transform: skew(-10deg);
  padding: 0 0.2rem; /* aggiusta il padding per non tagliare il testo */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: inline-flex;
  animation: marquee 20s linear infinite;
}
